{{define "detail"}}
    <html data-theme="dark" lang="en">
    {{template "head"}}

    <body style="margin: auto">

    {{template "navbar" .}}

    {{$po := .Po}}
    <div style="margin-left: 1%; margin-right: 1%">
        {{range $item := .Data}}
            <hgroup>
                <h1>
                    <span style="color: {{parseFgColor $item.SymbolColor}};background-color: {{parseBgColor $item.SymbolColor}}">{{$item.Symbol}}</span>
                    {{$item.Name}} <sub><small>{{$item.Id}}</small></sub>
                </h1>
                <h5>
                    <mark>{{$item.ModName}}</mark>
                    {{if eq $item.Type "MONSTER"}}
                        <span style="color: {{parseFgColor .Monster.DiffColor}};background-color: {{parseBgColor .Monster.DiffColor}}">{{.Monster.DiffDesc}}</span>
                        <sub>{{.Monster.Diff}}</sub>
                    {{end}}
                </h5>
                <h6>
                    <i>{{$item.Description}}</i>
                </h6>
            </hgroup>


            <small>
                {{/* TODO add new type, step 3 */}}
                {{if eq $item.Type "MONSTER"}}
                    {{template "monster" genMap "vo" $item "po" $po}}
                {{else}}

                {{end}}

                <hr/>
            </small>
        {{end}}
    </div>

    </body>

    {{template "footer" .}}
{{end}}