{{define "head"}}
    <head>
        <title>Zenith</title>
        <link rel="icon" type="image/x-icon" href="../static/icon/favicon.ico">
        <link rel="stylesheet" href="../static/css/pico.min.css">
        <link rel="stylesheet" href="../static/css/custom.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-730BQ1NTGT"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-730BQ1NTGT');
        </script>
    </head>
{{end}}